{% if logo_url %}
    <head>
        <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">

        <style type="text/css">
            /*(bootstrap source)*/
        </style>

        <style type="text/css">
            .header-center {
                text-align: center;
            }

            .col {
                width: 33%;
                float: left;
            }

            .header-image{
                height: 100px;
            }
            .header-image img {
                width: auto;
                height: 100%;
            }
            .header-link {
                color: black;
            }
			table td{
		         border:1px solid #424241;
				 padding:7px;
      		}
        </style>
        <script>
            function subst() {
                var vars = {};
                var x = window.location.search.substring(1).split('&');
                for (var i in x) {
                    var z = x[i].split('=', 2);
                    vars[z[0]] = unescape(z[1]);
                }
                var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
                for (var i in x) {
                    var y = document.getElementsByClassName(x[i]);
                    for (var j = 0; j < y.length; ++j)
                        y[j].textContent = vars[x[i]];
                }
            }
        </script>
    </head>
    <body onload="subst()"></br>
        <table border="1" width="100%" cellspacing="0" cellpadding="0">
            <tr>
				{% if unique_id %}
					<td rowspan="3">
				{% else %}
					<td rowspan="2">
                {% endif %}
				<img alt="Home" src="{{ base_path }}/themes/hzd/images/hzd_pdf_logo.png"></td>
                {% if unique_id %}
					<td rowspan="3">
                        <b>{{ 'RZ-Schnellinfo-Nr.'|trans }} {{ unique_id }}</b>
                        <br>
				{% else %}
					<td rowspan="2">
                {% endif %}
                    {{ title }}
                </td>
                <td> &nbsp;
				{{ 'Veröffentlicht am'|trans }}:
                    {{ changed }}
            </tr>
			{% if author_name %}
				<tr>
					<td> 		
						
						 {{ 'Veröffentlicht von'|trans }}:
						 {{ author_name }}
						
					</td>	 
				</tr>
			{% endif %}
			<tr>	
                <td> &nbsp;			
                    
                    Seite <span class="page"></span> von <span class="topage"></span></td>
				</td>	
            </tr>
        </table>
    </body>
{% endif %}