<html>
<head>
  <meta charset="utf-8">
  <header>
	  <img alt="Home" src="{{ base_path }}/sites/default/files/hzd_logo.gif"></td>
	</header>
  {{ entity_print_css }}
</head>
<body>
<div class="page">
  {{ entity_array }}
</div>
</body>
<footer>{{ 'Source URL' | trans }} {{ footer }}</footer>
</html>