<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    {{ entity_print_css }}
    {#<style>{{ source('themes/hzd/css/style.css') }}</style>#}
    {#<link type="text/css" rel="stylesheet" href="/themes/hzd/css/style.css"/>#}
    <link type="text/css" rel="stylesheet" href="/themes/hzd/css/entity-print.css"/>
</head>
<body>
{% if quickinfo %}
{{ content }}
{% else %}

<div class="pdf-wrapper">
    <header>
        <div class="logo-sec-pdf">
            <img alt="Home" src="{{ base_path }}/sites/default/files/hzd_logo.gif">
        </div>
    </header>
    <span class="pdf-title">{{ pdftitle }}</span>
    <div class="pdf-content">
        {{ content }}
    </div>
</div>
{% endif %}
{% if pdf_original_link %}
    <hr>
    <div class="footer">Source URL (retrieved on {{ 'now'|date('d.m.Y H:i') }}): <a
                href="{{ pdf_original_link }}">{{ pdf_original_link }}</a></div>
{% endif %}
</body>
</html>
