<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <header>

        {#<img alt="Home" src="{{ base_path }}/sites/default/files/hzd_logo.gif"></td>#}
    </header>
    {{ entity_print_css }}
    {#<style>{{ source('themes/hzd/css/style.css') }}</style>#}
    {#<link type="text/css" rel="stylesheet" href="/themes/hzd/css/style.css"/>#}
</head>
<body>
<style>
    @page {
        /*margin: 180px 50px;*/
    }

    #header {
        position: fixed;
        left: 0px;
        top: -70px;
        right: 0px;
        /*height: 150px;*/
        /*background-color: orange;*/
        text-align: center;
    }

    #footer {
        position: fixed;
        /*left: 0px;*/
        bottom: 55px;
        right: 0px;
        /*height: 150px;*/
        /*background-color: lightblue;*/
    }

    #footer .page:after {
        content: counter(page);
    }
    .print-pdf {
        padding-bottom: 50px;
        padding-top: 50px;
    }


</style>
{#{{ dump() }}#}
<div id="header">
    <p class="page">{{ title }} </p>
</div>
<div id="footer">
    <p class="page">{{ 'Page'|trans }} </p>
</div>
{{ content }}
</body>
</html>