{#{{ dump(node|keys) }}#}
{#{{ dump(label) }}#}

{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}


<div id="header">
    <table border="1" width="100%" cellspacing="0" cellpadding="0">
        {% if node.isPublished() %}
            <tr>
                <td rowspan="3">
                    <img alt="Home" src="{{ base_path }}/themes/hzd/images/hzd_pdf_logo.png"></td>
                </td>
                <td rowspan="3">
                    {{ content.field_unique_id }}
                    <br>
                    {{ label }}
                </td>
                <td> &nbsp;
                    {{ 'Veröffentlicht am'|trans }}:
                    {{ changed }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'Veröffentlicht von'|trans }}:
                    {{ author_name }}
                </td>
            </tr>
            <tr>
                <td>
                    Seite <span class="pageCounter"></span> {#von <span class="totalPageCounter"></span>#}</td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <img alt="Home" src="{{ base_path }}/themes/hzd/images/hzd_pdf_logo.png"></td>
                </td>
                <td>
                    {{ label }}
                </td>
                <td>
                    Seite <span class="pageCounter"></span> {#von <span class="totalPageCounter"></span>#}</td>
                </td>
            </tr>
        {% endif %}
    </table>
</div>
{#<div id="footer">#}
    {#<p class="page">Page </p>#}
{#</div>#}
<div id="content">
    <article{{ attributes.addClass(classes) }}>

        {{ content|without('field_unique_id') }}

    </article>
</div>


<style>
    @page {
        margin: 150px 40px 40px 40px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -120px;
        right: 20px;
        height: 70px;
        /*background-color: orange;*/
        text-align: center;
    }

    #footer {
        position: fixed;
        left: 10px;
        bottom: 20px;
        right: 10px;
        height: 20px;
        /*background-color: lightblue;*/
    }

    .pageCounter:after {
        content: counter(page);
    }


</style>