<table border="1" width="100%">
    <tr>
        <td><img alt="Home" src="/sites/default/files/hzb-logo.jpg"></td>
        <td>RZ-Schnellinfo-Nr. {{ content.field_unique_id }}
            {{ label }}</td>
        <td>Veröffentlicht am:
            {{ date }}
            <hr>
            Veröffentlicht von:
            {{ content.field_author_name }}</td>
    </tr></table>
<h2>1 Meta-Daten</h2>
{{ content.field_custom_title }}
{{ content.field_related_transfer_number }}
{{ content.field_other_services }}
{{ content.field_recipients }}
<h2>2 Fachlich-inhaltliche Angaben</h2>
{{ content.field_intial_situation }}
{{ content.field_professional_conditions }}
{{ content.field_tech_requirements }}
{{ content.field_depend_other_services }}
{{ content.field_business_impact }}
{{ content.field_technical_impact }}
{{ content.field_business_impact_services }}
{{ content.field_technical_impact_services }}
{{ content.field_special_notes }}
{{ content.field_dates }}
{{ content.field_creators }}
{{ content.field_contact }}
{{ content.upload }}